<p id="notice"><%= notice %></p>

<h2 class="text-center">Gestor de Grupos</h2>

<table class="table mt-4">
  <thead class="table-light">
    <tr>
      <th class="text-center">Nombre</th>
      <th class="text-center">Cantidad Miembros</th>
      <th class="text-center">Conciertos</th>
      <th class="text-center">Asistentes Totales</th>
      <th class="text-center">Tipo Banda</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td class="table-warning"><%= group.name %></td>
        <td class="text-center"><%= group.members %></td>
        <td class="text-center"><%= group.total_concerts %></td>
        <td class="text-center"><%= group.attendance %></td>
        <td class="text-center"><%= group.bandtype %></td>
        <td><%= link_to 'Mostrar', group %></td>
        <td><%= link_to 'Editar', edit_group_path(group) %></td>
        <td><%= link_to 'Borrar', group, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Grupo', new_group_path %><br>
<%= link_to 'Agregar Concierto', new_concert_path %>
