<p id="notice"><%= notice %></p>


<p>
  <strong>Nombre del Grupo:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Cantidad de Miembros:</strong>
  <%= @group.members %>
</p>

<p>
  <strong>Último Concierto:</strong>
  <%= @group.last_concert %>
</p>

<p>
  <strong>Mayor Éxito:</strong>
  <%= @group.max_people %> personas
</p>

<p>
  <strong>Concierto Más Extenso:</strong>
  <%= @group.max_duration %>  minutos
</p>

<p>
  <strong>Debut:</strong>
  <%= @group.debut %>
</p>

<p>
  <strong>Tipo de banda:</strong>
  <%= @group.bandtype %>
</p>

<%= link_to 'Editar', edit_group_path(@group) %> |
<%= link_to 'Volver', groups_path %>
