<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @concert.event %>
</p>

<p>
  <strong>Tickets:</strong>
  <%= @concert.tickets %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @concert.duration %>
</p>

<p>
  <strong>Group:</strong>
  <%= @concert.group_id %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
